*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(agg.jpg);
    background-size: 100%;
  
}
h1 {
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-overflow: clip;
    animation-duration: 3s;
    animation-name: bounce;
  }
  
  @keyframes bounce {
    from {
  transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  p{
    border-block-start-color: teal;
  }